<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="referrer" content="strict-origin">
    <title>Excel till etiketter</title>
	<link href="lib/bootstrap-5.0.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/css/style.css" rel="stylesheet">
	<link rel="icon" href="lib/img/favicon.svg">
	<link rel="apple-touch-icon" href="lib/img/favicon.ico">
    <script src="lib/js/jquery-3.6.0.min.js"></script>
    <script src="lib/js/lodash.min.js"></script>
    <script src="lib/js/xlsx.full.min.js"></script>
    <script src="lib/js/routie.min.js"></script>
    <script src="lib/js/app.js"></script>
    <script src="lib/js/routers.js"></script>
</head>
<body>

	<nav class="navbar navbar-dark shadow-sm no-print">
		<div class="container">
			<a class="navbar-brand" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
				<path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
			</svg>
			Sjövalla FK - Etiketter
			</a>
		</div>
	</nav>

	<!-- Statistics -->
	<script type="text/template" id="statsTemplate">
		<div class="alert alert-primary no-print" role="alert">
			Inlästa personer: <%= stats.total %> st<br>
			För utskrift: <%= stats.to_print %> st<br>
			Ej för utskrift: <%= stats.not_to_print %> st (familjemedlemmar, eller tack nej etc.)<br>
		</div>
	</script>
	<!-- Template for A4-page with 3x8 grids -->
	<script type="text/template" id="listTemplate">
		<div class="row page">
			<% 
			let idx = 0;
			_.forEach(persons, function(person) {
				if(idx == 24) {
					idx = 0; %>
		</div>
		<div class="page-break"></div>
		<div class="row page">
				<% }
				%><div class="col col-4 pb-4 border fs-6 person <%= person.print?' bg-success-light':' no-print bg-danger-light' %>">
					<div class="float-end text-end no-print">
						<a href="#toggle/<%= person.id %>" class="btn mt-1 btn-sm toggler <%= person.print?'btn-success':'btn-danger' %>" id="<%= person.id %>"><%= person.print?printIcon:noPrintIcon %></a>
						<div><small class="text-sm text-muted"><%= person.nopaper?noPaperIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.familyHead?familyHeadIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.familyMember?familyMemberIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.householdHead?householdHeadIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.householdMember?householdMemberIcon:placeholderIcon %></small></div>
					</div>
					<div class="name" <%= person.family?'title="Familj: ' +person.family+'"':'' %>><%= person.name %><small class="text-muted no-print"> (<%= hiddenIcon %> <%= age(person.birthDate) %><%= person.family?', '+person.family:''%>)</small></div>
					<div class="streetaddress"><%= person.streetaddress %></div>
					<div class="postaladdress"><%= person.postalcode %> <%= person.postaladdress %></div>
				</div>
			<% if(person.print) {idx++};
			}); %>
		</div>
	</script>

	<!-- To show report -->
	<!--<div class="collapse" id="collapseReport">
	  <div class="card card-body"></div>
	</div>-->

	<div class="container no-print">
		<h4 class="mt-3">Instruktioner</h4>
		<ul class="list-group mb-4">
			<li class="list-group-item">1. Exportera en Excel-fil med medlemmar från <a href="https://login.idrottonline.se/" target="_blank">IdrottOnline</a>
				<ul class="list-group mb-1">
					<li class="list-group-item">A. Logga in som vanligt (välj 'Sjövalla Frisksportklubb' om du får fråga att välja organisation)</li>
					<li class="list-group-item">B. Gå till <span class="fw-bold">Administration</span> &raquo; <span class="fw-bold">Personer</span></li>
					<li class="list-group-item">C. Klicka på Sök (dvs. sök på alla medlemmar)</li>
					<li class="list-group-item">D. Välj <span class="fw-bold">Exportera</span> &raquo; <span class="fw-bold">Exportera till Excel</span></li>
					<li class="list-group-item">E. Välj <span class="fw-bold">Exportera med födelsedatum</span> samt <span class="fw-bold">Exkludera målsman</span></li>
					<li class="list-group-item">F. Klicka <span class="fw-bold">Exportera</span></li>
				</ul>
			</li>
			<li class="list-group-item">2. Spara Excel-filen på din dator</li>
			<li class="list-group-item">3. Gå till denna sida och läs in Excel-filen:
				<form class="row g-3 my-1">
					<div class="col-auto">
						<input class="form-control" type="file" id="formFile" accept=".xls,.xlsx,.xlsb">
					</div>
					<div class="col-auto">
						<a href="#upload" class="btn btn-primary">Läs in fil</a>
					</div>
				</form>
			</li>
			<li class="list-group-item">4. [Valfritt] Du ser nu en översikt på vilka etiketter som kommer skrivas ut. Klicka på röda/grön knapp för att ändra manuellt.</li>
			<li class="list-group-item">5. Välj "Skriv ut" i webbläsaren (när du är nöjd med eventuella justeringar)</li>
			<li class="list-group-item">6. Efter utskrift är det bra om du väljer 'Skapa rapport' och sparar ner den fil som skapats (så kan vi uppdatera IdrottOnline i efterhand)</li>
		</ul>
		<div class="alert alert-success d-none" role="alert">
			<h4 class="alert-heading">Resultat</h4>
			<p class="mb-0" id="report"></p>
		</div>
		<div class="alert alert-danger d-none" role="alert">
			<h4 class="alert-heading">Felaktiga</h4>
			<p class="mb-0" id="invalid"></p>
		</div>
	</div>

	<div class="container no-print mb-4">
		<div id="printController">
			<a href="#selectall" class="btn btn-primary disabled">Markera alla för utskrift</a>
			<a href="#deselectall" class="btn btn-primary disabled">Avmarkera alla från utskrift</a>
			<a href="#savereport" class="ms-4 btn btn-primary disabled">Spara rapport</a>
		</div>
		<small>Du kan alltid läsa om filen för att "återställa"</small>
	</div>

	<div class="container-fluid">
		<div id="stats"></div>
		<div id="pageBody"></div>
	</div>

    <script>
		'use strict';
				
		let markFamilyRepresentant = (person, idx, persons) => {
			//console.log("markFamilyRepresentant");
			//console.log("markFamilyRepresentant ", person, idx, persons);
			if(person.family) {
				// Find first (printable) index for this family
				let firstFamilyIndex = _.findIndex(persons, function(p) { 
					return person.print && p.family == person.family; 
					//return p.print && p.family == person.family; 
				});
				// Get first stored family head
				let familyIndex = _.findIndex(persons, function(p) { 
					return p.family == person.family && p.familyHead == firstFamilyIndex; 
				});
				if(firstFamilyIndex >= 0 && familyIndex < 0) {
					// Set as family head
					person.print = true;
					person.familyHead = firstFamilyIndex;
				} else { //if(firstFamilyIndex >= 0 && familyIndex >= 0) {
					// Set as duplicate for this family
					person.print = false;
					person.familyMember = true;
				}
			} 
			return person;
		}

		let markOnePerHousehold = (person, idx, persons) => {
			//console.log("markOnePerHousehold");
			let householdKey = person.householdKey;
			let debug = person.name.includes("Alinder");
			if(householdKey) {
				// Find first (printable) household key
				// -1 for no hit, else 0+
				let firstHouseholdIndex = _.findIndex(persons, function(p) { 
					return person.print && p.householdKey == householdKey; 
				});
				if(debug) {
					//console.log("firstHouseholdIndex: ", firstHouseholdIndex);
				}
				// Get current persons idx
				// -1 for no hit, else 0+
				let householdIndex = _.findIndex(persons, function(p) { 
					return p.householdKey == householdKey && p.householdHead == firstHouseholdIndex; 
				});
				if(debug) {
					//console.log("householdIndex: ", householdIndex);
					console.log("person: ", person.name, householdKey, householdIndex, firstHouseholdIndex)
				}
				if(firstHouseholdIndex >= 0 && householdIndex < 0) {
					// Set as household head
					person.print = person.print && true;
					person.householdHead = firstHouseholdIndex;
				} else {
					// Set as duplicate for this household
					person.print = false;
					person.householdMember = true;
				}
			} /*else {
				person.print = false;
				person.invalid = true;
			}*/
			return person;
		};

		/*
			result = _.filter(result, function(person) {
				let householdKey = _.lowerCase(person.streetaddress)+_.lowerCase(person.postalcode);
				if(householdKey) {
					if(!householdList.includes(householdKey)) {
						householdList.push(householdKey); // Store as household representant
						return true;
					} 
					report.push({name: person.name, type: 'Samma adress', value: person.streetaddress});
					//console.log("Person bor redan på address som får tidning: " + person.name + ", " + person.streetaddress);
					return false; // Skip if household member already stored (should be older due to sorting)
				} 
				report.push({name: person.name, type: "Felaktig", value: person.birthDate});
				//console.error("Should not end up here: " + person.name + ", " +householdKey);
				invalid.push({name: person.name, birthDate: person.birthDate});
				return false; 
			});*/

		let processExcel = (data) => {
			//console.log("index.html: processExcel");
			//Read the Excel File data.
			let workbook = XLSX.read(data, {
				type: 'binary'
			});
	
			//Fetch the name of First Sheet.
			let firstSheet = workbook.SheetNames[0];
	
			//Read all rows from First Sheet into an JSON array.
			let excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
			
			// For testing purposes, to limit the result in "size"
			let i=0;

			let persons = []; 
			for (let person of excelRows) {
				if(i<50000) {
					i++;
					persons.push(_.pick(person, ['IdrottsID','Förnamn', 'Efternamn',
						'Folkbokföring - Gatuadress',
						'Folkbokföring - Postnummer',
						'Folkbokföring - Postort',
						'Folkbokföring - c/o adress',
						'Familj',
						'Kontaktadress - Gatuadress',
						'Kontaktadress - Postnummer',
						'Kontaktadress - Postort',
						'Kontaktadress - c/o adress',
						'Födelsedat./Personnr. (ååååmmdd-xxxx)',
						'Grupp/Lag/Arbetsrum/Familj'
					]));
				}
			}
			// Rename/convert properties
			persons = persons.map((p) => {
				if(_.trim(p['Folkbokföring - Gatuadress']) != "") {
					// Assume we have Folkbokföringsadress
					return {
						id: _.trim(p['IdrottsID']),
						name: _.trim(p['Förnamn']) + ' ' + _.trim(p['Efternamn']),
						streetaddress: _.trim(p['Folkbokföring - Gatuadress']),
						postalcode: _.trim(p['Folkbokföring - Postnummer']),
						postaladdress: _.trim(p['Folkbokföring - Postort']),
						co_address: _.trim(p['Folkbokföring - c/o adress']),
						family: _.trim(p['Familj']),
						birthDate: _.trim(p['Födelsedat./Personnr. (ååååmmdd-xxxx)']),
						groups: _.trim(p['Grupp/Lag/Arbetsrum/Familj']),
						print: true,
						type: 'default',
						householdKey: _.replace(_.lowerCase(_.trim(p['Folkbokföring - Gatuadress'])+_.trim(p['Folkbokföring - Postort'])),/ /g,'')
					}
				} else {
					// Fallback to Kontaktadress
					return {
						id: _.trim(p['IdrottsID']),
						name: _.trim(p['Förnamn']) + ' ' + _.trim(p['Efternamn']),
						streetaddress: _.trim(p['Kontaktadress - Gatuadress']),
						postalcode: _.trim(p['Kontaktadress - Postnummer']),
						postaladdress: _.trim(p['Kontaktadress - Postort']),
						co_address: _.trim(p['Kontaktadress - c/o adress']),
						family: _.trim(p['Familj']),
						birthDate: _.trim(p['Födelsedat./Personnr. (ååååmmdd-xxxx)']),
						groups: _.trim(p['Grupp/Lag/Arbetsrum/Familj']),
						print: true,
						type: 'contact-address',
						householdKey: _.replace(_.lowerCase(_.trim(p['Kontaktadress - Gatuadress'])+_.trim(p['Kontaktadress - Postort'])),/ /g,'')
					}
				}
			});

			// Mark MC_IngenTidning
			persons = _.map(persons, markIngenTidning);

			// Keep only one per family
			persons = _.sortBy(persons, [function(p) { return p.birthDate; }]); // To get oldest person as family representant
			persons = _.map(persons, markFamilyRepresentant, persons);

			// Only one per address
			//let householdList = []; // Keep track of "households" - to avoid duplicates per household
			// Sort again by age - not sure if filter above affects order or not
			persons = _.sortBy(persons, [function(p) { return p.birthDate; }]); // To get oldest person as family representant
			persons = _.map(persons, markOnePerHousehold, persons);

			// Sort by postnummer - by request
			persons = _.sortBy(persons, [function(p) { return p.postalcode; }]);

			// Save result
			sessionStorage.setItem("sfk-etiketter-list", JSON.stringify(persons));
			//console.log("index.html: list stored");

			// Active function-buttons
			$("#printController a").toggleClass("disabled", false);

			// Show
			routie.navigate("list");
		};

		document.addEventListener('DOMContentLoaded', function (event) {
			console.log("Ready!");
			setupRouters();
			routie("");
		});
    </script>
</body>
</html>