<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="referrer" content="strict-origin">
    <title>Excel till etiketter</title>
	<link href="lib/bootstrap-5.0.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/css/style.css" rel="stylesheet">
	<link rel="icon" href="lib/img/favicon.svg">
	<link rel="apple-touch-icon" href="lib/img/favicon.ico">
    <script src="lib/js/jquery-3.6.0.min.js"></script>
    <script src="lib/js/lodash.min.js"></script>
    <script src="lib/js/xlsx.full.min.js"></script>
    <script src="lib/js/routie.min.js"></script>
    <script src="lib/js/app.js"></script>
    <script src="lib/js/routers.js"></script>
</head>
<body>

	<nav class="navbar navbar-dark shadow-sm no-print">
		<div class="container">
			<a class="navbar-brand" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
				<path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
			</svg>
			Sjövalla FK - Etiketter
			</a>
		</div>
	</nav>

	<!-- Template for A4-page with 3x8 grids -->
	<script type="text/template" id="listTemplateOld">
		<div class="row page">Heja
		</div>
	</script>
	<script type="text/template" id="listTemplate">
		<div class="row page">
			<% 
			let idx = 0;
			_.forEach(persons, function(person) {
				if(idx == 24) {
					idx = 0; %>
		</div>
		<div class="page-break"></div>
		<div class="row page">
				<% }
				%><div class="col col-4 pb-4 border fs-6 person <%= person.print?' bg-success-light':' no-print bg-danger-light' %>">
					<div class="float-end text-end no-print">
						<!--<div onclick="togglePersonState(this);return false;" class="btn mt-1 btn-sm toggler <%= person.print?'btn-success':'btn-danger' %>" id="<%= person.id %>"><%= person.print?printIcon:noPrintIcon %></div>-->
						<a href="#toggle/<%= person.id %>" class="btn mt-1 btn-sm toggler <%= person.print?'btn-success':'btn-danger' %>" id="<%= person.id %>"><%= person.print?printIcon:noPrintIcon %></a>
						<div><small class="text-sm text-muted"><%= person.nopaper?noPaperIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.familyHead?familyHeadIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.familyMember?familyMemberIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.houseHold?householdHeadIcon:placeholderIcon %></small></div>
						<div><small class="text-muted"><%= person.houseHoldMember?householdMemberIcon:placeholderIcon %></small></div>
					</div>
					<div class="name" <%= person.family?'title="Familj: ' +person.family+'"':'' %>><%= person.name %><span class="d-none no-print"> <%= person.birthDate %></span></div>
					<div class="streetaddress"><%= person.streetaddress %></div>
					<div class="postaladdress"><%= person.postalcode %> <%= person.postaladdress %></div>
					<!--<div class="groups"><%= person.groups %></div>-->
				</div>
			<% if(person.print) {idx++};
			}); %>
		</div>
	</script>

	<!-- To show report -->
	<!--<div class="collapse" id="collapseReport">
	  <div class="card card-body"></div>
	</div>-->

	<div class="container no-print">
		<h4 class="mt-3">Instruktioner</h4>
		<ul class="list-group mb-4">
			<li class="list-group-item">1. Exportera en Excel-fil med medlemmar från <a href="https://www.sjovalla.se" target="_blank">Idrott Online</a>
				<ul class="list-group mb-1">
					<li class="list-group-item">A. Logga in som vanligt</li>
					<li class="list-group-item">B. Gå till <span class="fw-bold">Administration</span> &raquo; <span class="fw-bold">Personer</span></li>
					<li class="list-group-item">C. Klicka på Sök (dvs. sök på alla medlemmar)</li>
					<li class="list-group-item">D. Välj <span class="fw-bold">Exportera</span> &raquo; <span class="fw-bold">Exportera till Excel</span></li>
					<li class="list-group-item">E. Välj <span class="fw-bold">Exportera med födelsedatum</span> samt <span class="fw-bold">Exkludera målsman</span></li>
					<li class="list-group-item">F. Klicka <span class="fw-bold">Exportera</span></li>
				</ul>
			</li>
			<li class="list-group-item">2. Spara Excel-filen på din dator</li>
			<li class="list-group-item">3. Gå till denna sida och läs in Excel-filen:
				<form class="row g-3 my-1">
					<div class="col-auto">
						<input class="form-control" type="file" id="formFile" accept=".xls,.xlsx,.xlsb">
					</div>
					<div class="col-auto">
						<!--<button type="submit" class="btn btn-primary" onclick="upload();return false;">Läs in fil</button>-->
						<a href="#upload" class="btn btn-primary">Läs in fil</a>
						<!--<button type="submit" class="btn btn-primary mb-3" onclick="print();return false;">Skriv ut...</button>-->
						<!--<button id="viewReport" class="btn btn-outline-primary ms-2" disabled type="button" data-bs-toggle="collapse" data-bs-target="#collapseReport" aria-expanded="false" aria-controls="collapseExample">
							Visa rapport
						</button>-->
					</div>
				</form>
			</li>
			<li class="list-group-item">4. Välj "Skriv ut" i webbläsaren</li>
		</ul>
		<div class="alert alert-success d-none" role="alert">
			<h4 class="alert-heading">Resultat</h4>
			<p class="mb-0" id="report"></p>
		</div>
		<div class="alert alert-danger d-none" role="alert">
			<h4 class="alert-heading">Felaktiga</h4>
			<p class="mb-0" id="invalid"></p>
		</div>
	</div>

	<div class="container no-print mb-4">
		<div id="printController" class="">
			<a href="#selectall" class="btn btn-primary">Markera alla för utskrift</a>
			<a href="#deselectall" class="btn btn-primary">Avmarkera alla från utskrift</a>
		</div>
		<small>Du kan alltid läsa om filen för att "återställa"</small>
	</div>

	<div class="container-fluid">
		<div id="pageBody"></div>
	</div>

    <script>
		'use strict';

		// Fill page with list of persons
		/*let fillPage = (list) => {
			// Template
			let pageTemplate = _.template($('#pageTemplate').html());

			// Render
			$("#pageBody").html(pageTemplate({persons:list}));
		}*/

		let renderReportOld = (report, invalid, result) => {
			let count = result.length;
			let r = _.groupBy(report, _.iteratee('type'));
			let s = "";
			_.each(r, function(value, key) {
				if(s != "") {
					s += ", ";
				}
				s += key + ": " + value.length +" st";
			});
			$("#report").html("Antal etiketter: " + count + " st. Exkluderade - " + s);
			$("#report").parent().toggleClass("d-none", false);

			// Show any invalid
			if(!_.isEmpty(invalid)) {

				let i = "";
				_.each(invalid, function(value, key) {
					i += "<div>" + value.name + " " + value.birthDate + "</div>";
				});
				$("#invalid").html(i);
				$("#invalid").parent().toggleClass("d-none", false);
			}

			// Save to browser
			sessionStorage.setItem("sfk-etiketter-report", JSON.stringify(report));
			sessionStorage.setItem("sfk-etiketter-invalid", JSON.stringify(invalid));
			var result_report = [];
			_.each(result, function(value) {
				result_report.push(_.pick(value, ['name','birthDate','family']))
			})
			sessionStorage.setItem("sfk-etiketter-result", JSON.stringify(result_report));
		}

		let saveReportToFile = (report, invalid, result) => {
			var wb = XLSX.utils.book_new();
			wb.SheetNames.push("Utskick");
			wb.SheetNames.push("Exkluderade");
			wb.SheetNames.push("Felaktiga");

			let ws_data = [];
			_.each(report, function(item, idx) {
				//console.log("exkluderade (" + idx + "): ", item);
				ws_data.push(_.values(item));
			});
			console.log("ws_data; ", ws_data);
			wb.Sheets["Exkluderade"] = XLSX.utils.aoa_to_sheet(ws_data);
			console.log("wb: ", wb);

			//let sht1 = XLSX.utils.aoa_to_sheet([["en","två","tre"],[1,2,3],[4,5],[7,8,9]])
			//var shtExcluded = XLSX.utils.aoa_to_sheet(ws_data);
			//XLSX.utils.book_append_sheet(wb, ws, ws_name);
			
			ws_data = [];
			_.each(invalid, function(item, idx) {
				//console.log("invalid (" + idx + "): ", item);
				ws_data.push(_.values(item));
			});
			wb.Sheets["Felaktiga"] = XLSX.utils.aoa_to_sheet(ws_data);

			ws_data = [];
			result = _.sortBy(result, [function(o) { return o.postalcode; }]);
			_.each(result, function(item, idx) {
				//console.log("utskick (" + idx + "): ", _.pick(item, ['name','birthDate','streetaddress','family']));
				ws_data.push(_.values(_.pick(item, ['name','birthDate','streetaddress','family'])));
			});
			wb.Sheets["Utskick"] = XLSX.utils.aoa_to_sheet(ws_data);

			// Save to file
			XLSX.writeFile(wb, "Rapport etiketter.xlsx", {});
		}

		let markIngenTidning = (person) => {
			//let noPaper = _.map(_.split(o.groups, ','), _.trim).includes('MC_IngenTidning');
			if(_.map(_.split(person.groups, ','), _.trim).includes('MC_IngenTidning')) {
				person.print = false;
				person.nopaper = 'MC_IngenTidning';
			};
			return person;
		}
				
		let markFamilyRepresentant = (person, idx, persons) => {
			//console.log("markFamilyRepresentant");
			//console.log("markFamilyRepresentant ", person, idx, persons);
			if(person.family) {
				// Find first (printable) index for this family
				let firstFamilyIndex = _.findIndex(persons, function(p) { 
					return person.print && p.family == person.family; 
				});
				// Get first stored family head
				let familyIndex = _.findIndex(persons, function(p) { 
					return p.family == person.family && p.familyHead == firstFamilyIndex; 
				});
				if(firstFamilyIndex >= 0 && familyIndex < 0) {
					// Set as family head
					person.print = true;
					person.familyHead = firstFamilyIndex;
				} else { //if(firstFamilyIndex >= 0 && familyIndex >= 0) {
					// Set as duplicate for this family
					person.print = false;
					person.familyMember = true;
				}
			} 
			return person;
		}

		let markOnePerHousehold = (person, idx, persons) => {
			//console.log("markOnePerHousehold");
			let householdKey = _.lowerCase(person.streetaddress)+_.lowerCase(person.postalcode);
			if(householdKey) {
				// Find first (printable) household key
				// -1 for no hit, else 0+
				let firstHouseholdIndex = _.findIndex(persons, function(p) { 
					return person.print && p.householdKey == householdKey; 
				});
				// Get current persons idx
				// -1 for no hit, else 0+
				let householdIndex = _.findIndex(persons, function(p) { 
					return p.householdKey == householdKey && p.householdIndex == firstHouseholdIndex; 
				});
				if(firstHouseholdIndex >= 0 && householdIndex < 0) {
					// Set as household head
					person.print = person.print && true;
					person.householdIndex = firstHouseholdIndex;
				} else {
					// Set as duplicate for this household
					//person.print = false;
					person.householdMember = true;
				}
			} else {
				person.print = false;
				person.invalid = true;
			}
			return person;
		};

		/*
			result = _.filter(result, function(person) {
				let householdKey = _.lowerCase(person.streetaddress)+_.lowerCase(person.postalcode);
				if(householdKey) {
					if(!householdList.includes(householdKey)) {
						householdList.push(householdKey); // Store as household representant
						return true;
					} 
					report.push({name: person.name, type: 'Samma adress', value: person.streetaddress});
					//console.log("Person bor redan på address som får tidning: " + person.name + ", " + person.streetaddress);
					return false; // Skip if household member already stored (should be older due to sorting)
				} 
				report.push({name: person.name, type: "Felaktig", value: person.birthDate});
				//console.error("Should not end up here: " + person.name + ", " +householdKey);
				invalid.push({name: person.name, birthDate: person.birthDate});
				return false; 
			});*/

		let processExcel = (data) => {
			//console.log("index.html: processExcel");
			//Read the Excel File data.
			let workbook = XLSX.read(data, {
				type: 'binary'
			});
	
			//Fetch the name of First Sheet.
			let firstSheet = workbook.SheetNames[0];
	
			//Read all rows from First Sheet into an JSON array.
			let excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
			
			// For testing purposes, to limit the result in "size"
			let i=0;

			let result = []; // Persons
			for (let person of excelRows) {
				if(i<50000) {
					i++;
					result.push(_.pick(person, ['IdrottsID','Förnamn', 'Efternamn',
						'Folkbokföring - Gatuadress',
						'Folkbokföring - Postnummer',
						'Folkbokföring - Postort',
						'Folkbokföring - c/o adress',
						'Familj',
						'Kontaktadress - Gatuadress',
						'Kontaktadress - Postnummer',
						'Kontaktadress - Postort',
						'Kontaktadress - c/o adress',
						'Födelsedat./Personnr.',
						'Grupp/Lag/Arbetsrum/Familj'
					]));
				}
			}
			// Rename/convert properties
			result = result.map((e) => {
				if(_.trim(e['Folkbokföring - Gatuadress']) != "") {
					// Assume we have Folkbokföringsadress
					return {
						id: _.trim(e['IdrottsID']),
						name: _.trim(e['Förnamn']) + ' ' + _.trim(e['Efternamn']),
						streetaddress: _.trim(e['Folkbokföring - Gatuadress']),
						postalcode: _.trim(e['Folkbokföring - Postnummer']),
						postaladdress: _.trim(e['Folkbokföring - Postort']),
						co_address: _.trim(e['Folkbokföring - c/o adress']),
						family: _.trim(e['Familj']),
						birthDate: _.trim(e['Födelsedat./Personnr.']),
						groups: _.trim(e['Grupp/Lag/Arbetsrum/Familj']),
						print: true,
						type: 'default'
					}
				} else {
					// Fallback to Kontaktadress
					return {
						id: _.trim(e['IdrottsID']),
						name: _.trim(e['Förnamn']) + ' ' + _.trim(e['Efternamn']),
						streetaddress: _.trim(e['Kontaktadress - Gatuadress']),
						postalcode: _.trim(e['Kontaktadress - Postnummer']),
						postaladdress: _.trim(e['Kontaktadress - Postort']),
						co_address: _.trim(e['Kontaktadress - c/o adress']),
						family: _.trim(e['Familj']),
						birthDate: _.trim(e['Födelsedat./Personnr.']),
						groups: _.trim(e['Grupp/Lag/Arbetsrum/Familj']),
						print: true,
						type: 'contact-address'
					}
				}
			});

			// Mark MC_IngenTidning
			result = _.map(result, markIngenTidning);

			// Keep only one per family
			//let familyList = []; // Keep track of existing families
			result = _.sortBy(result, [function(o) { return o.birthDate; }]); // To get oldest person as family representant
			result = _.map(result, markFamilyRepresentant, result);

			// Only one per address
			let householdList = []; // Keep track of "households" - to avoid duplicates per household
			// Sort again by age - not sure if filter above affects order or not
			result = _.sortBy(result, [function(o) { return o.birthDate; }]); // To get oldest person as family representant
			result = _.map(result, markOnePerHousehold, result);

			// Sort by postnummer - by request
			result = _.sortBy(result, [function(o) { return o.postalcode; }]);

			// Show loaded result
			sessionStorage.setItem("sfk-etiketter-list", JSON.stringify(result));
			console.log("index.html: list stored");
			routie.navigate("list");
			//report = _.sortBy(report, [function(o) { return o.type; }]);
			//renderReport(report, invalid, result);
			//saveReport(report, invalid, result);
		};

		document.addEventListener('DOMContentLoaded', function (event) {
			//document.location.hash = '';
			//window.location = "#";
			console.log("Ready!");
			//document.getElementById("pageBody").addEventListener("click", togglePersonState.bind(this), false);
			setupRouters();
			routie("");
		});
    </script>
</body>
</html>